* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100vw;
    font-family: 'Alegreya Sans', sans-serif;

    .box_top {
        display: flex;
        flex-direction: row;
        height: 5em;
        margin-bottom: 8em;

        .logo {
            width: 20%;
            margin-top: 1em;
            margin-left: 2em;
            img {
                height: 100%;
            }
        }

        nav {
            height: 100%;
            width: 80%;
            background-color: #232323;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            
            a {
                color: #ffffff;
                text-decoration: none;
                font-weight: 500;
            }
        }
    }

    .box_four {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        background-color: #232323;
        padding-top: 5em;
        padding-bottom: 3em;

        .stage {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 8%;
            h3 {
                color: #54be90;
                font-size: 2em;
                font-weight: 800;
            }
            p {
                color: #ffffff;
            }
        }
    }
}